@page "/catalogo/tercero"

@inherits TerceroBase
@attribute [Authorize]

<TituloComponent _titulo="Bodegas"></TituloComponent>

<div class="container">
    <div class="row">
        <label>@($"{_regActual.name}-{_regActual.numdocument}_{_regActual.iddocumento}-{_regActual.namedocum}_")</label>
    </div>
    <div class="row">
        <DataGrid TItem="Tercero_data" Data="@_lista" ShowPager="true" @bind-SelectedRow="@_regActual"
                  Filterable="true" FilterMethod="DataGridFilterMethod.Contains" PageSize="5" Editable="true"
                  EditMode="DataGridEditMode.Popup" RowStyling="@estilofila" SelectedRowStyling="@filaSeleccionada"
                  RowInserted="@insertFila" RowUpdated="@updateFila"
                  UseInternalEditing="true" NewItemDefaultSetter="iniciaDatos"
                  Bordered="true" Striped="true" Responsive="true" Hoverable="true">

            <ChildContent>
                <DataGridCommandColumn TItem="Tercero_data" CellsEditableOnEditCommand="true">
                    <NewCommandTemplate>
                        <Button Color="Color.Success" Clicked="@context.Clicked" class="btn-create">Crear</Button>
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                        <Button Color="Color.Primary" Clicked="@context.Clicked" class="edit-button">Editar</Button>
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Button Color="Color.Danger" Clicked="@(()=> inactiveFila(context.Item))" class="btn-active">@(context.Item.active ? "Inactivar" : "Activar")</Button>
                    </DeleteCommandTemplate>
                    <ClearFilterCommandTemplate> <span @onclick="@context.Clicked">Limpiar Filtro</span> </ClearFilterCommandTemplate>
                    <SaveCommandTemplate>
                        <div class="col-md-6">
                            <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>
                        </div>
                        <button class="btn btn-info" @onclick="@context.Clicked">Grabar</button>
                    </SaveCommandTemplate>
                    <CancelCommandTemplate>
                        <button class="btn btn-danger btn-cancel" @onclick="@context.Clicked">Cancelar</button>
                    </CancelCommandTemplate>
                </DataGridCommandColumn>

                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.id)" Caption="Id" Editable="false" Displayable="false" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.numdocument)" Caption="Documento" Editable="true" Width="60" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.name)" Caption="Nombre" Editable="true" Displayable="false" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.lastname)" Caption="Apellido" Editable="true" Displayable="false" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.nombrefull)" Caption="Nombre" Editable="false">
                    <DisplayTemplate>
                        @($"{( context as Tercero_data)?.nombrefull.ToUpper()} ")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.address)" Caption="Dirección" Editable="true" Displayable="false" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.phone)" Caption="Teléfono" Editable="true" Displayable="true" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.cellphone)" Caption="Teléfono" Editable="true" Displayable="false" />
                <DataGridDateColumn TItem="Tercero_data" Field="@nameof(Tercero_data.birthdate)" Caption="Fec.Nacimiento" Editable="true" Displayable="false" />
                <DataGridColumn TItem="Tercero_data" Field="@nameof(Tercero_data.email)" Caption="EMail" Editable="true" Displayable="false" />
                <DataGridSelectColumn TItem="Tercero_data" Field="@nameof(Tercero_data.documentoid)" Caption="Tipo Documento" Editable="true">
                    <EditTemplate>
                        @{
                            //_datoPadre = Convert.ToInt64( context.CellValue.ToString());
                            @if (_listaSecundaria != null)
                            {
                                <Select TValue="Int64" @bind-SelectedValue="@_datoPadre">
                                    <SelectItem TValue="Int64" Value="0">SELECCIONAR...</SelectItem>
                                    @foreach (var item in _listaSecundaria)
                                    {
                                        <SelectItem TValue="Int64" Value="@(item.id)">@item.name</SelectItem>
                                    }
                                </Select>
                            }
                        }
                    </EditTemplate>
                </DataGridSelectColumn>
                <DataGridCheckColumn TItem="Tercero_data" Field="@nameof(Tercero_data.active)" Caption="Activo" Editable="false" Width="50">
                    <DisplayTemplate>
                        <Check @bind-Checked="@context.active" TValue="Boolean" Disabled="true"></Check>
                    </DisplayTemplate>
                </DataGridCheckColumn>

            </ChildContent>

            <FirstPageButtonTemplate> <span>Prim</span> </FirstPageButtonTemplate>
            <PreviousPageButtonTemplate> <span>Ant</span> </PreviousPageButtonTemplate>
            <NextPageButtonTemplate> <span>Sig</span> </NextPageButtonTemplate>
            <LastPageButtonTemplate> <span>Ult</span> </LastPageButtonTemplate>
            <PopupTitleTemplate>
                <span>@(context.EditState== DataGridEditState.New ? "Insertando" : "Actualizando") Registro</span>
            </PopupTitleTemplate>

            <EmptyTemplate><div class="box"> No hay información...!!</div> </EmptyTemplate>

            <LoadingTemplate> <div class="box"><progress class="progress is-small is-primary" max="100" /></div></LoadingTemplate>

        </DataGrid>
    </div>
    <div class="row">
        <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>
    </div>
</div>

