@page "/reporte/puntos"

@inherits PuntosIndexBase
@attribute [Authorize]

<TituloComponent _titulo="Reporte Puntos"></TituloComponent>

<div class="container">
    <div class="row margen-sup">
        <div class="col-md-4">
            <Label>Tercero:</Label>
            @if (_lsttercero != null)
            {
                <Select TValue="Int64" @bind-SelectedValue="@_datoPadre">
                    <SelectItem TValue="Int64" Value="0">SELECCIONAR...</SelectItem>
                    @foreach (var item in _lsttercero)
                    {
                        <SelectItem TValue="Int64" Value="@(item.id)">@($"{item.numdocument}-{item.name} {item.lastname}") </SelectItem>
                    }
                </Select>
            }
        </div>
        <div class="col-md-3">
            <Label>Fecha Inicial:</Label>
            <input type="date" class="form-control" @bind="@_fechaini" />
        </div>
        <div class="col-md-3">
            <Label>Fecha Final:</Label>
            <input type="date" class="form-control" @bind="@_fechafin" />
        </div>
        <div class="col-md-2">
            <Button Color="Color.Success" Clicked="@procesar" class="btn-continuar btn-block margen-sup30">Consultar</Button>
        </div>
        
    </div>
    <div class="row margen-sup">
        @if (mostrar)
        {
            <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>

            <DataGrid TItem="Transaccion_data" Data="_lista" ShowPager="true" Filterable="true" FilterMethod="DataGridFilterMethod.Contains"
                      PageSize="8" RowStyling="@estilofila" SelectedRowStyling="@filaSeleccionada"
                      Bordered="true" Striped="true" Responsive="true" Hoverable="true" PopupSize="ModalSize.Large">
                
                <ChildContent>
                    <DataGridCommandColumn TItem="Transaccion_data">
                        <ClearFilterCommandTemplate> <span @onclick="@context.Clicked">Limpiar Filtro</span> </ClearFilterCommandTemplate>
                    </DataGridCommandColumn>

                    <DataGridAggregate TItem="Transaccion_data" Field="@nameof(Transaccion_data.points)"  Aggregate="DataGridAggregateType.Sum">
                        <DisplayTemplate>                            
                            @($" Total: { context.Value} Ptos")
                        </DisplayTemplate>
                    </DataGridAggregate>



                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.date)" Caption="Fecha" Sortable="false" Displayable="true" Width="200" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.typemoviment)" Caption="Tipo" Sortable="false" Displayable="true" Width="40" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.cellarname)" Caption="Bodega" Sortable="false" Displayable="true" Width="150" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.numberdocument)" Caption="Número" Sortable="false" Displayable="true" Width="80" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.detline)" Caption="Linea" Sortable="false" Displayable="true" Width="40" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.prodcode)" Caption="Código" Sortable="false" Displayable="true" Width="60" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.prodname)" Caption="Nombre" Sortable="false" Displayable="true" Width="300" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.quantity)" Caption="Cant." Sortable="false" Displayable="true" Width="40" />
                    <DataGridColumn TItem="Transaccion_data" Field="@nameof(Transaccion_data.points)" Caption="Puntos" Sortable="false" Displayable="true" >
                        <DisplayTemplate>
                            @($"{( context as Transaccion_data)?.points * ( (context as Transaccion_data)?.affect=="S" ? -1 : ((context as Transaccion_data)?.affect=="E" ? 1 : 0)  ) } Ptos")
                        </DisplayTemplate>
                    </DataGridColumn>
                </ChildContent>

                <FirstPageButtonTemplate> <span>Prim</span> </FirstPageButtonTemplate>
                <PreviousPageButtonTemplate> <span>Ant</span> </PreviousPageButtonTemplate>
                <NextPageButtonTemplate> <span>Sig</span> </NextPageButtonTemplate>
                <LastPageButtonTemplate> <span>Ult</span> </LastPageButtonTemplate>
                <PopupTitleTemplate>
                    <TituloComponent _titulo=@((context.EditState == DataGridEditState.New ? "Insertando" : "Actualizando") + " Registro")></TituloComponent>
                </PopupTitleTemplate>

                <EmptyTemplate><div class="box"> No hay información...!!</div> </EmptyTemplate>

                <LoadingTemplate> <div class="box"><progress class="progress is-small is-primary" max="100" /></div></LoadingTemplate>

            </DataGrid>
        }
    </div>
</div>