@page "/catalogo/terceropuntos"

@inherits TerceroPuntoIndexBase
@attribute [Authorize]

<TituloComponent _titulo="Tercero Puntos"></TituloComponent>

<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>

        <DataGrid TItem="TerceroPunto_data" Data="_lista" ShowPager="true" Filterable="true" FilterMethod="DataGridFilterMethod.Contains"
                  PageSize="5" Editable="true" EditMode="DataGridEditMode.Popup" RowStyling="@estilofila" SelectedRowStyling="@filaSeleccionada"
                  Bordered="true" Striped="true" Responsive="true" Hoverable="true" PopupSize="ModalSize.Large"
                  RowInserted="@insertaFila" RowUpdated="@updateFila" UseInternalEditing="false" NewItemDefaultSetter="iniciaDatos"
                  RowInserting="@insertandoFila" RowUpdating="@updatingFila">

            <ChildContent>
                <DataGridCommandColumn TItem="TerceroPunto_data">
                    <NewCommandTemplate>
                        <Button Color="Color.Success" Clicked="@context.Clicked" class="btn-create">Crear</Button>
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                        <Button Color="Color.Primary" Clicked="@context.Clicked" class="edit-button">Editar</Button>
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Button Color="Color.Danger" Clicked="@(()=> inactiveFila(context.Item))" class="btn-active">@(context.Item.active ? "Inactivar" : "Activar")</Button>
                    </DeleteCommandTemplate>
                    <ClearFilterCommandTemplate> <span @onclick="@context.Clicked">Limpiar Filtro</span> </ClearFilterCommandTemplate>
                    <SaveCommandTemplate>
                        <div class="col-md-6">
                            <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>
                        </div>
                        <button class="btn btn-info" @onclick="@context.Clicked">Grabar</button>
                    </SaveCommandTemplate>
                    <CancelCommandTemplate>
                        <button class="btn btn-danger btn-cancel" @onclick="@context.Clicked">Cancelar</button>
                    </CancelCommandTemplate>
                </DataGridCommandColumn>

                <DataGridColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.id)" Caption="Id" Sortable="false" Editable="false" Displayable="false">
                </DataGridColumn>
                <DataGridColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.period)" Caption="Periodo" Editable="true" Width="100">
                    <EditTemplate>
                        @{
                            //_datoPadre = Convert.ToInt64( context.CellValue.ToString());
                            @if (_listaTipo != null)
                            {
                                <Select TValue="String" @bind-SelectedValue="@_datoTipo">
                                    <SelectItem TValue="Int64" Value="0">SELECCIONAR...</SelectItem>
                                    @foreach (var item in _listaTipo)
                                    {
                                        <SelectItem TValue="String" Value="@(item)">@item</SelectItem>
                                    }
                                </Select>
                            }
                        }
                    </EditTemplate>

                </DataGridColumn>
                <DataGridColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.nombrefull)" Caption="Nombre" Editable="true">
                    <EditTemplate>
                        @{
                            //_datoPadre = Convert.ToInt64( context.CellValue.ToString());
                            @if (_listaSecundaria != null)
                            {
                                <Select TValue="Int64" @bind-SelectedValue="@_datoPadre">
                                    <SelectItem TValue="Int64" Value="0">SELECCIONAR...</SelectItem>
                                    @foreach (var item in _listaSecundaria)
                                    {
                                        <SelectItem TValue="Int64" Value="@(item.id)">@($"{item.numdocument}-{item.name} {item.lastname}") </SelectItem>
                                    }
                                </Select>
                            }
                        }
                    </EditTemplate>

                </DataGridColumn>

                <DataGridNumericColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.previousbalance)" Caption="Anterior" Editable="true" Width="100">
                    <DisplayTemplate>  @($"{( context as TerceroPunto_data )?.previousbalance} Ptos") </DisplayTemplate>
                    <EditTemplate>
                        <NumericEdit TValue="Decimal" Value="@((Decimal)(((CellEditContext)context).CellValue))" ValueChanged="@(v=>((CellEditContext)context).CellValue=v)" />
                    </EditTemplate>
                </DataGridNumericColumn>
                <DataGridNumericColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.input)" Caption="Entrada" Editable="true" Width="100">
                    <DisplayTemplate>  @($"{( context as TerceroPunto_data )?.input} Ptos") </DisplayTemplate>
                    <EditTemplate>
                        <NumericEdit TValue="Decimal" Value="@((Decimal)(((CellEditContext)context).CellValue))" ValueChanged="@(v=>((CellEditContext)context).CellValue=v)"/>
                    </EditTemplate>
                </DataGridNumericColumn>
                <DataGridNumericColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.output)" Caption="Salida" Editable="true" Width="100">
                    <DisplayTemplate>  @($"{( context as TerceroPunto_data )?.output} Ptos") </DisplayTemplate>
                    <EditTemplate>
                        <NumericEdit TValue="Decimal" Value="@((Decimal)(((CellEditContext)context).CellValue))" ValueChanged="@(v=>((CellEditContext)context).CellValue=v)" />
                    </EditTemplate>
                </DataGridNumericColumn>
                <DataGridNumericColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.currentbalance)" Caption="Saldo" Editable="false" Width="100" >
                    <DisplayTemplate>  @($"{( context as TerceroPunto_data )?.currentbalance} Ptos") </DisplayTemplate>
                    <EditTemplate>
                        <NumericEdit TValue="Decimal" Value="@((Decimal)(((CellEditContext)context).CellValue))" ValueChanged="@(v=>((CellEditContext)context).CellValue=v)" />
                    </EditTemplate>
                </DataGridNumericColumn>


                <DataGridNumericColumn TItem="TerceroPunto_data" Field="@nameof(TerceroPunto_data.active)" Caption="Activo" Editable="false" Width="50">
                    <DisplayTemplate>
                        <Check @bind-Checked="@context.active" TValue="Boolean" Disabled="true"></Check>
                    </DisplayTemplate>
                </DataGridNumericColumn>

            </ChildContent>

            <FirstPageButtonTemplate> <span>Prim</span> </FirstPageButtonTemplate>
            <PreviousPageButtonTemplate> <span>Ant</span> </PreviousPageButtonTemplate>
            <NextPageButtonTemplate> <span>Sig</span> </NextPageButtonTemplate>
            <LastPageButtonTemplate> <span>Ult</span> </LastPageButtonTemplate>
            <PopupTitleTemplate>
                <span>@(context.EditState== DataGridEditState.New ? "Insertando" : "Actualizando") Registro</span>
            </PopupTitleTemplate>

            <EmptyTemplate><div class="box"> No hay información...!!</div> </EmptyTemplate>

            <LoadingTemplate> <div class="box"><progress class="progress is-small is-primary" max="100" /></div></LoadingTemplate>

        </DataGrid>

    </div>
</div>

