@*@page "/catalogo/usuario"

@inherits UsuarioIndexBase
@attribute [Authorize]

<TituloComponent _titulo="Usuarios"></TituloComponent>


<div class="container">
    <div class="row">
        <DataGrid TItem="" Data="@_lista" ShowPager="true" @bind-SelectedRow="@_regActual"
                  Filterable="true" FilterMethod="DataGridFilterMethod.Contains" PageSize="5" Editable="true"
                  EditMode="DataGridEditMode.Popup" RowStyling="@estilofila" SelectedRowStyling="@filaSeleccionada"
                  RowInserted="@insertFila" RowUpdated="@updateFila"
                  UseInternalEditing="true" NewItemDefaultSetter="iniciaDatos"
                  Bordered="true" Striped="true" Responsive="true" Hoverable="true" PopupSize="ModalSize.Large">

            <ChildContent>
                <DataGridCommandColumn TItem="Categoria_data" CellsEditableOnEditCommand="true">
                    <NewCommandTemplate>
                        <Button Color="Color.Success" Clicked="@context.Clicked" class="btn-create">Crear</Button>
                    </NewCommandTemplate>
                    <EditCommandTemplate>
                        <Tooltip Text="Editar"><Button Color="Color.Primary" Clicked="@context.Clicked" class="edit-button"><i class="fas fa-user-edit"></i></Button></Tooltip>
                    </EditCommandTemplate>
                    <DeleteCommandTemplate>
                        <Tooltip Text=@(context.Item.active ? "Inactivar": "Activar")><Button Color="Color.Danger" Clicked="@(()=> inactiveFila(context.Item))" class="btn-active"> <i class=@(context.Item.active ? "fas fa-arrow-alt-circle-down" : "fas fa-arrow-alt-circle-up" )></i></Button></Tooltip>
                    </DeleteCommandTemplate>
                    <ClearFilterCommandTemplate> <span @onclick="@context.Clicked">Limpiar Filtro</span> </ClearFilterCommandTemplate>
                    <SaveCommandTemplate>
                        <div class="col-md-6">
                            <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>
                        </div>
                        <Tooltip Text="Guardar"><button class="btn btn-info" @onclick="@context.Clicked"><i class="far fa-save"></i></button></Tooltip>
                    </SaveCommandTemplate>
                    <CancelCommandTemplate>
                        <Tooltip Text="Cancelar"><button class="btn btn-danger btn-cancel" @onclick="@context.Clicked"><i class="fas fa-window-close"></i></button></Tooltip>
                    </CancelCommandTemplate>
                </DataGridCommandColumn>

            </ChildContent>

    </div>
    <div class="row">
        <MensajeInPopUp Mensaje="@_Mensaje" clase="@_mensajeIsDanger"></MensajeInPopUp>
    </div>
</div>*@

